*, html, body {
  box-sizing: border-box;
}

:root {
  --scrollbar-width: 15px; /* Set the scrollbar width as a CSS variable */
}

main.RaLayout-contentWithSidebar {
  width: calc(100vw - var(--scrollbar-width)); /* Adjust width to exclude scrollbar */
  overflow-y: overlay; /* Make the vertical scrollbar overlay the content */
}

.RaLayout-content {
  padding: 1em !important;
}

/* Constrain elements to the width of the page and insist on the child element getting the scrollbar instead of the parent */
#main-content {
  overflow: auto;
}

main {
  width: 100vw;
} 